.container{
    margin: 50px 0;
}

.card{
    margin: 0 2% !important;
    width: 280px !important;
}

.infected{
    border-bottom: 10px solid rgba(0,0,255);
}

.recovered{
    border-bottom: 10px solid rgba(0,255,0);
}

.deaths{
    border-bottom: 10px solid rgba(255,0,0);
}

.analyticsText{
    display: none;
    font-weight: 400 !important;
}
.analyticsNumber{
    display: none;
    font-size: 18px;
}

@media (max-width: 770px) {
    .card{
        margin: 2% 0 !important;
    }
}